{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.Lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/getting-started/introduction/" | absURL }}" role="button">Read the docs</a>
	  <!-- <p class="meta"><a href="https://github.com/euoe">GitHub v{{ .Site.Data.doks.version }}</a></p> -->
	  <p class="meta"><a href="https://github.com/euoe">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Wholesome API</h2>
        <p>We offer our comprehensive DNS public API in RESTful, GraphQL & gRPC making adaption fast & easy.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Clients</h2>
        <p>Official supported clients in Go, Java, Node.js, Rust, Python, Kotlin & Dart. More languages to follow, stay tuned.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">CLI</h2>
        <p>A powerful CLI supporting 100% of the API with some special extras. Use the service via your terminal or in your scripts.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Let's Encrypt</h2>
        <p>Native support for Let's encrypt's DNS-01 challenge type whether on private server or Kubernetes cluster via cert-manager.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Automation</h2>
        <p>Integrate with your current automation tools. Support for Terraform, Drone, Github Actions with more to come.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Help Guides</h2>
        <p>A collection of guides to aid you ie. Reserve DNS, monitor the service and other use case scenarios.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
